#   gem install pg
#
#   Ensure the Postgres gem is defined in your Gemfile
#   gem 'pg'
#
default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  username: <USERNAME>
  password: <PASSWORD>

development:
  <<: *default
  database: salido_challenge

test: &test
  <<: *default
  database: salido_challenge_test

production:
  url: <%= ENV['DATABASE_URL'] %>